.button {
    background-color: #171f6e; /* Green */
    border: none;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }